<h1>{{user.username}}'s Recipes</h1>
<a href="/profile/userProfile">Back to Profile</a>
<div class="collections-container">
  {{#each foundUser.recipes}}
  <div class="collections-card">
    <div>
    <h2>{{this.title}}</h2>
    <img class="collections-image" src={{this.image}} alt="hardshit">
    </div>
    <form action="/recipes/update" method="POST">
      <input id="_id" type="hidden" name="_id" value="{{this._id}}">
      <div>
        <p>Title: </p>
        <input id="title" type="text" name="title" placeholder="Your title" value="{{this.title}}">
      </div>
      <div>
        <p>Instructions: </p>
        <textarea id="instructionsUp" rows="20" name="instructionsUp" placeholder="instructions" >
          {{this.instructions}}
      </textarea>
      </div>
      <button>Update</button>
      <a href="{{host}}/recipes/delete/{{this._id}}">Delete</a>
    </form>

  </div>
  {{/each}}
</div>